spring:
    datasource:
        driverClassName: com.mysql.jdbc.Driver
        url: jdbc:mysql://localhost:3306/database?rewriteBatchedStatements=true
        username: user
        password: password
